
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration: none;
    color: #fff;
}

a:hover{
    color: #1DB954;
}

main {
    width: 100%;
    display: flex;
    background: rgb(0,0,0);
    background: linear-gradient(333deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.8410714627647934) 50%, rgba(23,23,23,0.8494748241093313) 100%);
}

nav {
    display: none;
}

.side-bar {
    width: 80px;
    background-color: rgba(0, 0, 0, 0.4);
    flex-shrink: 0;
}

.img-logo {
    padding: 20px 10px;
    text-align: center;
}

.text-logo{
    display: none;
}

.img-logo img {
    width: 50px;
    height: 50px;
}

.icon span {
    display: none;
}

.icon .fas {
    padding-bottom: 10px;
    font-size: 26px;
}

.icon {
    height: calc(100% - 100px);
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: space-between;
}

.icon i {
    padding: 10px 0;
}

.icon-top {
    color: #fff;
}

.icon-down {
    color: #fff;

}

.hamburger{
    color: #fff;
}

.hamburger:hover{
    color: #1DB954;
}

.title {
    padding-top: 50px;
    padding-bottom: 20px;
    padding-left: 0px;
    color: #fff;
    font-size: 14px;
    letter-spacing: 3px;
    text-align: center;
}


.artist-container{
    height: calc(100vh - 80px);
    width: 100%;
    padding: 50px 20px;
    padding-top: 20px;
    overflow: auto;



}

.box-img{
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex-grow: 0;
}




.box-img div{
flex-grow: 1;

}

.artist-img {
    width: 100%;
    text-align: center;
    margin-bottom: 40px;

}

.img-circle {
    border-radius:50%;
}

.artist-img img {
    width: 150px;
    height: 150px;
}

.my-footer {
    height: 80px;
    background-color: grey;
    display: flex;
    justify-content: space-between;
}

.footer-left{
    width: 300px;
    height: 80px;

}

.mini-img{
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

.mini-img img {
    width: 60px;
    height: 60px;
}

.footer-center {
    width: 800px;
    background-color: #fff;
}
.footer-right {
    width: 300px;
}


@media screen and (min-width: 768px) {
    .side-bar {
        width: 200px;
    }

    .icon {
        height: calc(100% - 130px);
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        padding-left: 18px;

    }

    .icon span {
        display: inline;
    }

    .icon .fas {
        font-size: 16px;
    }

    .text-logo{
        display: block;
        margin-top: -70px;
        padding: 0 5px;
    }

    .img-logo{
        display: none;
    }

    .box-img {
        max-width: 720px;
    }

    .artist-img {
        width: 50%;
        text-align: center;
        margin-bottom: 80px;
        padding-right: 40px;
    }

    .artist-img img{
        width: 200px;
        height: 200px;
    }


    .title{
        font-size: 22px;
        text-align: left;
        padding-top: 50px;
        padding-bottom: 25px;
    }

    .artist-container{
        height: calc(100vh - 80px);
        width: 100%;
        padding: 50px 40px;;
        padding-top: 20px;
        overflow: auto;
        text-align: left;

    }



}

@media screen and (min-width: 1200px) {
    /* .artist-img {

    padding: 40px 40px;
    } */


    .hamburger{
        display: none;
    }

    nav {
        display: inline;
    }

    nav ul{
        display: flex;
        justify-content: center;
        align-items: flex-start;
    }

    nav ul li{
        display: inline-block;
        padding: 20px;
    }
    nav ul li a {
        color: #fff;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 14px;

    }



    .box-img{
        max-width: 1020px;
        padding: 10px 20px;
    }

    /* .box-img::after{
        content: '';
        flex: auto;

    } */

    .artist-img {
        width: calc(100% / 4);
    }
}
