*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


main {
    display: flex;
    background: rgb(0,0,0);
background: linear-gradient(333deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.8410714627647934) 50%, rgba(23,23,23,0.8494748241093313) 100%);
}

.side-bar {
    width: 180px;
    background-color: blue;
    flex-shrink: 0;
}

.artist-container{
    height: calc(100vh - 80px);
    width: 100%;
    padding: 50px 100px;
    position: relative;
    padding-top: 100px;
    overflow: auto;
}

.artist-img {
float: left;
padding: 40px 40px;
}

.img-circle {
    border-radius:50%;
}

img {
    width: 200px;
    height: 200px;
}

footer {
    height: 80px;
    background-color: grey;;
    display: flex;
    justify-content: space-between;
}

.footer-left{
    width: 300px;
    background-color: red;
}

.footer-center {
    width: 800px;
    background-color: #fff;
}
.footer-right {
    width: 300px;
    background-color: red;
}
